<template>
  <div class="button" :class="disabled && 'disabled'">
    <slot>Button</slot>
  </div>
</template>

<script>
export default {
  props: {
    disabled: Boolean,
  },
}
</script>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    color: $text-on-primary;
    font-weight: 600;
    border-radius: $radius;
    cursor: pointer;
    transition: $transition-all;
    user-select: none;  

    &:hover {
      background-color: $primary-color-hover;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $disabled-background;
    }
  }
</style>