<template>
  <div class="content">
    <transition appear name="component-fade" mode="out-in">

      <div v-if="content === 'choice'" key="choice">
        <div
          class="block link"
          @click="changeContent('services')"
        >
          {{ getServiceText }}
        </div>
        <div
          class="block link"
          :class="disabledDateLink"
          @click="getWorkdays"
        >
          {{ getDateTimeText }}
        </div>
        <div
          class="block link"
          @click="changeContent('employees', disabledEmployeeLink)"
          :class="disabledEmployeeLink"
        >
          {{
            currentEmployee
            ? `Ваш мастер: ${currentEmployee.name}`
            : 'Выбор мастера'
          }}
        </div>
        <div class="button-block button-block-center">
          <Button :disabled="checkNextButton" @click.native="!checkNextButton && changeContent('form')">Далее</Button>
        </div>
      </div>

      <div v-if="content === 'services'" key="services">
        <div class="button-block">
          <div class="header">Услуги</div>
          <Button @click.native="changeContent('choice')">Назад</Button>
        </div>
        <div
          v-for="service in services"
          :key="service.id"
        >
          <div
            class="block link"
            :class="isActiveService(service.id)"
            @click="isActiveService(service.id) !== 'disabledLink' && setService(service)"
          >
            <div
              class="servicePhoto"
              v-if="service.photo"
              :style="{ backgroundImage: `url(http://79.174.13.123/storage/${service.photo})` }"
            />
            <div class="subheader">{{ service.name }}</div>
            <div class="description" v-if="service.description">{{ service.description }}</div>
            <div class="description" v-if="service.duration">
              Продолжительность: {{ getDurationTime(service.duration, 'hh ч mm мин') }}
            </div>
            <div v-if="service.price">Стоимость: {{ service.price }} руб</div>
          </div>
        </div>
      </div>

      <div v-if="content === 'dates'" key="dates">
        <div class="button-block">
          <div class="header">Свободные даты</div>
          <Button @click.native="changeContent('choice')">Назад</Button>
        </div>

        <div class="timeWrapper">
          <div
            v-for="date in dates"
            :key="date"
            class="block mini link"
            @click="getCurrentTime(date)"
          >
            {{ getFormattedDate(date) }}
          </div>
        </div>
      </div>

      <div v-if="content === 'time'" key="time">
        <div class="button-block">
          <div class="header">Свободное время</div>
          <Button @click.native="changeContent('dates')">Назад</Button>
        </div>

        <div class="timeWrapper">
          <div
            v-for="timeItem in time"
            :key="timeItem"
            class="block mini link"
            @click="setTime(timeItem)"
          >
            {{ getFormattedTime(timeItem, 'HH:mm') }}
          </div>
        </div>
      </div>

      <div v-if="content === 'employees'" key="employees">
        <div class="button-block">
          <div class="header">Мастера</div>
          <Button @click.native="changeContent('choice')">Назад</Button>
        </div>
        <div v-if="!employees.length">Свободный мастер не найден</div>
        <div
          v-else
          class="block row link"
          :class="isActiveEmployee(null)"
          @click="setEmployee(null)"
        >
          <div>Любой мастер</div>
        </div>
        <div
          v-for="employee in employees"
          :key="employee.id"
        >
          <div
            class="block row link"
            :class="isActiveEmployee(employee.id)"
            @click="setEmployee(employee)"
          >
            <div
              class="employeePhoto"
              v-if="employee.photo"
              :style="{ backgroundImage: `url(http://79.174.13.123/storage/${employee.photo})` }"
            />
            <div>{{ employee.name }}</div>
          </div>
        </div>
      </div>

      <div v-if="content === 'form'" key="form">
        <div class="button-block">
          <div class="header">Форма бронирования</div>
          <Button @click.native="changeContent('choice')">Назад</Button>
        </div>

        <Input label="Имя" v-model="order.clientName" />
        <Input
          label="Email"
          v-model="order.clientMail"
          :error="hasEmailError && 'Введите корректный адрес электронной почты'"
          @input="inputEmail"
          @blur="checkEmail"
        />
        <Input
          label="Телефон"
          v-model="order.clientPhoneNumber"
          v-mask="'+7 (###) ###-##-##'"
          :error="hasPhoneError && 'Введите корректный номер телефона'"
          @input="inputPhone"
          @blur="checkPhone"
        />
        
        <div class="button-block button-block-center">
          <Button :disabled="!formValid" @click.native="formValid && submitForm()">Забронировать</Button>
        </div>
      </div>

      <div v-if="content === 'message-success'" key="message-success">
        <div class="block">
          <div class="subheader">Спасибо! Бронирование прошло успешно!</div>
          <div class="description">{{ getServiceText }}</div>
          <div class="description">{{ getDateTimeText }}</div>
        </div>
        <div class="button-block button-block-center">
          <Button @click.native="removeWidget">Закрыть</Button>
        </div>
      </div>

      <div v-if="content === 'message-error'" key="message-error">
        <div class="block">
          <div class="subheader">Извините, произошла ошибка!</div>
          <div class="description">Попробуйте позднее или обратитесь в службу поддержки.</div>
        </div>
        <div class="button-block button-block-center">
          <Button @click.native="removeWidget">Закрыть</Button>
        </div>
      </div>

      <div class="wrapper" v-if="content === 'loading'">
        <Loader />
      </div>

    </transition>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import 'moment-duration-format';
import qs from 'qs';
import Button from '@/components/Button';
import Loader from '@/components/Loader';
import Input from '@/components/Input';

export default {
  data: () => ({
    order: {
      clientMail: '',
      clientName: '',
      clientPhoneNumber: '',
      employeeId: null,
      servicesIds: [],
      startReservation: 0,
    },
    employees: [],
    services: [],
    availableServices: [],
    dates: [],
    content: 'loading',
    currentEmployee: null,
    currentServices: [],
    time: [],
    checkedTime: null,
    checkedDate: null,
    hasEmailError: false,
    hasPhoneError: false,
    validEmail: false,
    validPhone: false,
  }),

  props: ['widgetId', 'removeWidget'],

  mounted() {
    axios
      .get(`http://79.174.13.123/api/organisation/${this.widgetId}/service/widget`)
      .then(serviceRes => {
        this.services = serviceRes.data;
        this.availableServices = serviceRes.data;
        this.content = 'choice';
      })
      .catch(err => {
        // eslint-disable-next-line no-console
        console.error(err);
        this.content = 'message-error';
      });
  },

  computed: {
    getServiceText: function() {
      const {currentServices} = this;
      if (currentServices.length === 1) {
        return `Выбранная услуга: ${currentServices[0].name}`;
      }
      if (currentServices.length > 1) {
        return `Выбранные услуги: ${currentServices.map((service) => service.name).join(', ')}`;
      }
      return 'Выбор услуги';
    },

    getDateTimeText: function() {
      if (this.checkedTime && this.checkedDate) {
        return `Дата: ${this.getFormattedDate(this.checkedDate)}, Время: ${this.getFormattedTime(this.checkedTime, 'HH:mm')}`;
      }
      return 'Выбор даты и времени';
    },

    disabledDateLink: function() {
      if (!this.currentServices.length) {
        return 'disabledLink';
      }
      return null;
    },

    disabledEmployeeLink: function() {
      if (!this.currentServices.length || !this.checkedDate || !this.checkedTime) {
        return 'disabledLink';
      }
      return null;
    },

    checkNextButton: function() {
      if (this.currentServices.length && this.checkedDate && this.checkedTime) {
        return false;
      }
      return true;
    },

    formValid: function() {
      if (
        this.currentServices.length
        && this.checkedDate
        && this.checkedTime
        && this.order.clientName
        && (this.validEmail || this.validPhone)
      ) {
        return true;
      }
      return false;
    }
  },

  methods: {
    changeContent: function(name, disabledLink) {
      if (!disabledLink) this.content = name;
    },

    setEmployee: function(employee) {
      this.currentEmployee = employee;
      this.content = 'choice';
    },

    getServices() {
      axios.get(
        `http://79.174.13.123/api/organisation/${this.widgetId}/service/widget`,
        {
          params: {
            servicesIds: this.currentServices.map(service => service.id),
          },
          paramsSerializer: params => {
            return qs.stringify(params, {arrayFormat: 'repeat'})
          },
        },
      )
      .then(res => this.availableServices = res.data)
      .catch(() => this.availableServices = [])
    },

    setService: function(service) {
      // сброс последующих параметров
      this.checkedTime = null;
      this.checkedDate = null;
      this.currentEmployee = null;

      if(this.currentServices.map((curService) => curService.id).includes(service.id)) {
        this.currentServices = this.currentServices.filter(curService => service.id !== curService.id);
      } else {
        this.currentServices = [...this.currentServices, service];
      }

      this.getServices();
    },

    isActiveService: function(serviceId) {
      if(this.currentServices.map((curService) => curService.id).includes(serviceId)) {
        return 'active';
      }
      if(!this.availableServices.map((curService) => curService.id).includes(serviceId)) {
        return 'disabledLink';
      }
    },

    getWorkdays() {
      if (!this.disabledDateLink) {
        this.content = 'loading';
        axios
          .get(
            `http://79.174.13.123/api/organisation/${this.widgetId}/workday/widget`,
            {
              params: {
                servicesIds: this.currentServices.map(service => service.id),
              },
              paramsSerializer: params => {
                return qs.stringify(params, {arrayFormat: 'repeat'})
              },
            },
          )
          .then(res => {
            this.dates = res.data;
            this.changeContent('dates', this.disabledDateLink);
          })
          .catch(() => this.dates = [])
      }
    },

    isActiveEmployee: function(employeeId) {
      if (this.currentEmployee && this.currentEmployee.id === employeeId) return 'active';
      if (employeeId === null && this.currentEmployee === null) return 'active';
    },

    getFormattedTime: function(timestamp, format) {
      return moment().utc().startOf('day').seconds(timestamp).local().format(format);
    },

    getDurationTime: function(timestamp, format) {
      return moment.duration(timestamp, 'seconds').format(format);
    },

    getFormattedDate: function(date) {
      return moment(date * 86400000).format('DD.MM.YYYY');
    },

    getCurrentTime: function(date) {
      this.content = 'loading';
      this.checkedDate = date;
      this.checkedTime = null;
      this.currentEmployee = null;
      axios
      .get(`http://79.174.13.123/api/organisation/${this.widgetId}/timeinterval/widget/`,
      {
        params: {
          date,
          servicesIds: this.currentServices.map(service => service.id),
        },
        paramsSerializer: params => {
          return qs.stringify(params, {arrayFormat: 'repeat'})
        },
      })
      .then(res => {
        this.time = res.data;
        this.content = 'time';
      })
      .catch(err => {
        // TODO: добавить обработчик ошибок
        // eslint-disable-next-line no-console
        console.error(err);
        this.content = 'dates';
      });
    },

    setTime(time) {
      this.checkedTime = time;
      this.getEmployees();
    },

    getEmployees: function() {
      this.content = 'loading';
      axios
        .get(
          `http://79.174.13.123/api/organisation/${this.widgetId}/employee/widget`,
          {
            params: {
              timestamp: this.getTimestamp(),
              servicesIds: this.currentServices.map(services => services.id),
            },
            paramsSerializer: params => {
              return qs.stringify(params, {arrayFormat: 'repeat'})
            },
          },
        )
        .then(res => {
          this.employees = res.data;
          this.content = 'choice';
        })
        .catch(err => {
          // TODO: добавить обработчик ошибок
          // eslint-disable-next-line no-console
          console.error(err);
          this.employees = [];
          this.content = 'choice';
        })
    },

    getTimestamp() {
      return this.checkedDate * 86400 + this.checkedTime;
    },

    inputEmail(value) {
      if (this.validateEmail(value)) {
        this.validEmail = true;
      } else {
        this.validEmail = false;
      }
    },

    checkEmail(value) {
      if (this.validateEmail(value)) {
        this.hasEmailError = false;
        this.validEmail = true;
      } else if (value === '') {
        this.hasEmailError = false;
        this.validEmail = false;
      } else {
        this.hasEmailError = true;
        this.validEmail = false;
      }
    },

    validateEmail(value) {
      const emailRegexp = new RegExp("[\\S]+@[\\S]+\\.[\\S]+$");
      if (emailRegexp.test(value)) {
        return true;
      }
      return false;
    },

    inputPhone(value) {
      if (this.validatePhone(value)) {
        this.validPhone = true;
      } else {
        this.validPhone = false;
      }
    },

    checkPhone(value) {
      if (this.validatePhone(value)) {
        this.hasPhoneError = false;
        this.validPhone = true;
      } else if (value === '') {
        this.hasPhoneError = false;
        this.validPhone = false;
      } else {
        this.hasPhoneError = true;
        this.validPhone = false;
      }
    },

    validatePhone(value) {
      const phoneRegexp = new RegExp("^\\+7\\s\\(\\d{3}\\)\\s\\d{3}-\\d{2}-\\d{2}$");
      if (phoneRegexp.test(value)) {
        return true;
      }
      return false;
    },

    submitForm: function() {
      if (this.formValid) {
        this.content = 'loading';

        const order = {
          ...this.order,
          employeeId: this.currentEmployee && this.currentEmployee.id,
          servicesIds: this.currentServices.map(services => services.id),
          startReservation: this.getTimestamp(),
        };

        if (!this.validEmail) delete order.clientMail;
        if (!this.validPhone) delete order.clientPhoneNumber;

        axios
          .post(
            `http://79.174.13.123/api/organisation/${this.widgetId}/employee/reservation/widget`,
            order
          )
          .then(() => {
            this.content = 'message-success';
          })
          .catch(err => {
            // TODO: добавить обработчик ошибок
            // eslint-disable-next-line no-console
            console.error(err);
            this.content = 'message-error';
          })
      }
    },
    
  },

  components: {
    Button,
    Loader,
    Input,
  },
}
</script>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .content {
    display: block;
    width: 100%;
    height: 410px;
    padding: 20px 40px;
    overflow-y: auto;
  }

  .block {
    width: 100%;
    border: 1px solid $border-color;
    border-radius: $radius;
    margin-bottom: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    color: $primary-text;
    // transition: $transition-all;
    transition-delay: 10ms;
    transition-duration: 300ms;
    transition-property: border, box-shadow;
    transition-timing-function: ease-in-out;
    user-select: none;

    &.mini {
      width: unset;
      margin-right: 10px;
      padding: 10px;
    }

    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
      border: 1px solid transparent;
    }

    &.active {
      border: 1px solid $primary-color;
    }

    &.row {
      display: flex;
      align-items: center;
    }
  }

  .link {
    cursor: pointer;
  }

  .disabledLink {
    cursor: not-allowed;
    background-color: $disabled-background;
    color: $text-on-primary;

    &:hover {
      box-shadow: none;
      border: 1px solid $border-color;
    }
  }

  .button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &.button-block-center {
      justify-content: center;
    }
  }

  .header {
    font-weight: 600;
  }

  .subheader {
    margin-bottom: 10px;
    font-weight: 600;
  }

  .description {
    margin-bottom: 10px;
  }

  .contentBlock {
    height: 100%;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .servicePhoto {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
  }

  .employeePhoto {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  // Анимации появления и исчезновения 
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity 200ms ease-in-out;
  }

  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }
</style>