<template>
  <div class="footer">
    <a class="link" target="_blank" href="http://jentu.ru/">
      Виджет Jentu
    </a>
    <div>от</div>
    <a class="link" target="_blank" href="http://neartech.ru/">
      NearTech
    </a>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .footer {
    width: 100%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    text-decoration: none;

    .link {
      @include reset-item;
      @include hard-reset-item;
      font-size: 10px !important;
      color: $secondary-text !important;
      text-decoration: underline !important;
      margin: 0 5px !important;
      cursor: pointer !important;
      transition: $transition-all !important;

      &:hover {
        color: $primary-color !important;
      }
    }
  }
</style>