<template>
  <div class="wrapper">
    <div class="header">Онлайн-бронирование</div>
    <div class="button" @click="removeWidget">
      <svg
        width="8"
        height="8"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 64 64"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        enable-background="new 0 0 64 64"
      >
        <g>
          <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: ['removeWidget'],
}
</script>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  .header {
    display: block;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 4px solid $primary-color;
    background-color: $header-background;
    color: $header-text;
    font-size: 18px;
    font-weight: 600;
  }

  .button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $header-text;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: border 300ms ease-in-out;

    svg {
      fill: $primary-color;
      transition: fill 300ms ease-in-out;
    }

    &:hover {
      border: 1px solid $primary-color;

      svg {
        fill: $primary-background;
      }
    }
  }
</style>