<template>
  <div class="wrap">
    <div class="label">
      {{ label }}
      <div v-if="required" class="required">*</div>
    </div>
    <input
      class="input"
      :type="type"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @blur="$emit('blur', $event.target.value)"
    />
    <div v-if="error" class="error">{{ error }}</div>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    type: String,
    mask: String,
    required: Boolean,
    error: [String, Boolean],
    value: {
      default: '',
      type: String,
    },
  },
}
</script>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .wrap {
    margin-bottom: 20px;
    position: relative;

    .label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .required
    .error {
      color: red;
      display: inline-block;
    }

    .error {
      font-size: 12px;
      margin-top: 4px;
      color: red;
      position: absolute;
    }
  
    .input {
      @include reset-item;
      @include hard-reset-item;
      display: block !important;
      width: 100% !important;
      height: 40px !important;
      border: 1px solid $border-color !important;
      border-radius: $radius !important;
      padding: 10px !important;
      box-sizing: border-box !important;
    }
  }

</style>