<template>
  <div class="widget-wrapper">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
  @import '@/theme.scss';
  // reset all styles
  .widget-wrapper,
  .widget-wrapper * {
    @include reset-item;

    // * {
    //   all: unset;
    //   box-sizing: border-box;
    // }
  }
</style>