<template>
  <Wrapper>
    <div class="widget-app">
      <div class="widget-container">
        <Header :removeWidget="removeWidget" />
        <Content :widgetId="widgetId" :removeWidget="removeWidget" />
        <Footer />
      </div>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from '@/components/Wrapper';
  import Header from '@/components/Header';
  import Content from '@/components/Content';
  import Footer from '@/components/Footer';

  export default {
    name: 'app',
    props: ['widgetId'],
    methods: {
      removeWidget: function() {
        this.$el.remove()
      }
    },
    components: {
      Wrapper,
      Header,
      Content,
      Footer,
    }
  }
</script>

<style lang="scss" scoped>
  @import '@/theme.scss';

  .widget-app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .widget-container {
      width: 500px;
      // height: 500px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
    }

    .footer {
      width: 100%;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      color: $secondary-text;
      border-top: 1px solid #ccc;
    }
  }
</style>
